div.main {
    height: 300px;
    width:600px;
    
}
.a {

    background-color: blue;
    
    width: 400px;
    height: 100px;
    
    border-collapse: collapse;
}
.b {
background-color:yellow;

    width: 400px;
    height: 80px;
}
.g {
    background-color:red;
    width: 400px;
    height: 80px;
}
.h {
    background-color:white;
    width: 400px;
    height: 80px;
}
.i {
    background-color:black;
    width: 400px;
    height: 80px;
}
.x {
    background-color:#2bb573;
    width: 400px;
    height: 80px;
}
.y {
    background-color:white;
    width: 400px;
    height: 80px;
}
.z {
    background-color:#7cb0de;
    width: 400px;
    height: 80px;
}
